

<div class="menu-container">
 <h1>Menu 3 del Restaurante</h1>
 <a routerLink="/ambiente2/menu1"><button type="button" class="btn btn-outline-secondary">Menu 1</button></a>
  <a routerLink="/ambiente2/menu2"><button type="button" class="btn btn-outline-secondary">Menu 2</button></a>
  <div class="card menu-card">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../../../../assets/img/23.jpg" alt="Carpaccio" class="card-img">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title">Carpaccio</h2>
          <p class="card-text">Comience su experiencia con nuestro Carpaccio, finas láminas de carne cruda aderezadas con limón, aceite de oliva y queso parmesano.</p>
        </div>
      </div>
    </div>
  </div>


<br>
  <div class="card menu-card">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../../../../assets/img/24.jpg" alt="Osso Buco" class="card-img">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title">Osso Buco</h2>
          <p class="card-text">Disfrute de nuestro exquisito plato fuerte, el Osso Buco, jarrete de ternera cocido lentamente en una salsa rica con hierbas y vino blanco.</p>
        </div>
      </div>
    </div>
  </div>

 <br>


  <div class="card menu-card">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../../../../assets/img/25.jpg" alt="Tartufo" class="card-img">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title">Tartufo</h2>
          <p class="card-text">Termine su experiencia con nuestro Tartufo, un postre italiano de helado cubierto con chocolate y decorado con nueces o frutas.</p>
         
        </div>
      </div>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

