
<body>

    <div class="container custom-container mx-auto">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/img/1.jpg" alt="Ambiente" class="img-fluid">
            </div>
            <div class="col-md-6 text-center">
                <h1>Italia</h1>
                <h2>Italia, la Cuna del Arte y la Elegancia:</h2>
                <p class="mt-3">
                  Italia, un país que despierta los sentidos y cautiva el corazón con su esplendor artístico, paisajes encantadores y una rica herencia cultural. Bañada por la luz dorada del Mediterráneo, esta tierra antigua es como un lienzo donde la historia se mezcla armoniosamente con la modernidad.
                </p>


                <div class="text-center mt-3">
                    <button class="btn btn-success">Pagos</button>
                    <button>Ir al Menú</button>
                </div>
            </div>
        </div>
    </div>

</body>
