

<div class="menu-container">
 <h1>Menú 3 del Restaurante Peruano</h1>
 <a routerLink="/ambiente3/menu1"><button type="button" class="btn btn-outline-secondary">Menu 1</button></a>
  <a routerLink="/ambiente3/menu2"><button type="button" class="btn btn-outline-secondary">Menu 2</button></a>
  <div class="card menu-card">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../../../../assets/img/32.jpg" alt="Papa a la Huancaina" class="card-img">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title">Papa a la Huancaina</h2>
          <p class="card-text">Comience su experiencia con nuestra deliciosa Papa a la Huancaina, papas bañadas en una exquisita salsa de ají amarillo y queso fresco.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card menu-card">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../../../../assets/img/33.jpg" alt="Aji de Gallina" class="card-img">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title">Aji de Gallina</h2>
          <p class="card-text">Disfrute de nuestro plato fuerte, el Aji de Gallina, pollo desmenuzado en una suave y picante salsa de ají amarillo y nueces.</p>
        </div>
      </div>
    </div>
  </div>

 <br>

  <div class="card menu-card">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../../../../assets/img/34.jpg" alt="Tres Leches" class="card-img">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title">Alfajores</h2>
          <p class="card-text">Deléitese con nuestros Alfajores, dulces y delicados bocados compuestos por dos galletas suaves rellenas de dulce de leche y cubiertas con azúcar glas.</p>
        </div>
      </div>
    </div>
  </div>
</div>
