
<div class="menu-container">
  <h1>Menú del Restaurante</h1>
  <a routerLink="/ambiente1/menu1"><button type="button" class="btn btn-outline-secondary">Menu1</button></a>
  <a routerLink="/ambiente1/menu3"><button type="button" class="btn btn-outline-secondary">Menu3</button></a>

  <div class="card menu-card">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../../../../assets/img/11.jpg" alt="Gyoza" class="card-img">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title">Gyoza</h2>
          <p class="card-text">Deliciosos dumplings japoneses rellenos de carne o verduras, acompañados de una salsa especial.</p>
        </div>
      </div>
    </div>
  </div>



  <div class="card menu-card">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../../../../assets/img/12.jpg" alt="Teriyaki de Salmón" class="card-img">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title">Teriyaki de Salmón</h2>
          <p class="card-text">Salmón glaseado con una deliciosa salsa teriyaki, servido con arroz y verduras frescas.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="card menu-card">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../../../../assets/img/13.jpg" alt="Dorayaki" class="card-img">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title">Dorayaki</h2>
          <p class="card-text">Panqueques japoneses rellenos de anko (pasta de judía roja dulce), una delicia que endulzará tu paladar.</p>

        </div>
      </div>
      
    </div>
  </div>
</div>
