
<div class="container">
  <h2>Lugares de Reserva</h2>
  <div class="row">
    <div class="col-md-4">

      <div class="card bg-transparent">
         <a routerLink="./ambiente1"><img class="card-img-top img-fluid d-block" src="https://i.pinimg.com/564x/a8/44/e8/a844e8749ea0c180114fe79b6c499458.jpg" alt="Lugar 1"></a>
        <div class="card-body bg-dark text-white">
          <h5 class="card-title">Lugar 1</h5>
          <div class="card-content">
            <p class="card-text">Japon</p>

            <p class="card-text">Descripción: En el país del sol naciente, cada bocado es una danza delicada de sabores, donde la precisión en el sushi, la perfección en el ramen.</p>
            <p class="card-text">Platos: Plato 1, Plato 2, Plato 3</p>
            <p class="card-text">Precio: $10</p>

          </div>
        </div>
      </div>

    </div>

    <div class="col-md-4">

      <div class="card bg-transparent">
        <a routerLink="./ambiente2"><img class="card-img-top img-fluid d-block" src="https://i.pinimg.com/564x/f8/4b/df/f84bdf1f1d1863e49c4ca1f05983e9f2.jpg" alt="Lugar 2"></a>
        <div class="card-body bg-dark text-white">
          <h5 class="card-title">Lugar 2</h5>
          <div class="card-content">
            <p class="card-text">Italia</p>

            <p class="card-text">Descripción: Donde la simplicidad de la pasta se entrelaza con la sofisticación de las salsas, creando un ballet de sabores que captura la elegancia.</p>
            <p class="card-text">Platos: Plato 4, Plato 5, Plato 6</p>
            <p class="card-text">Precio: $12</p>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-4">

      <div class="card bg-transparent">
        <a routerLink="./ambiente3"><img class="card-img-top img-fluid d-block" src="https://i.pinimg.com/564x/b5/8b/ff/b58bff6c6a3c34d713307bf0c39480cc.jpg" alt="Lugar 3"> </a>
        <div class="card-body bg-dark text-white">
          <h5 class="card-title">Lugar 3 </h5>
          <div class="card-content">
            <p class="card-text">Peru</p>

            <p class="card-text">Descripción: En las alturas de los Andes y las costas del Pacífico, la gastronomía peruana es un festín de identidad, fusionando contrastes y tradiciones.
            </p>
            <p class="card-text">Platos: Plato 7, Plato 8, Plato 9</p>
            <p class="card-text">Precio: $15</p>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

