

<div class="menu-container">
 <h1>Menú 2 del Restaurante Peruano</h1>
 <a routerLink="/ambiente3/menu1"><button type="button" class="btn btn-outline-secondary">Menu 1</button></a>
  <a routerLink="/ambiente3/menu3"><button type="button" class="btn btn-outline-secondary">Menu 3</button></a>
  <div class="card menu-card">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../../../../assets/img/29.jpg" alt="Anticuchos" class="card-img">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title">Anticuchos</h2>
          <p class="card-text">Comience su experiencia con nuestros Anticuchos, brochetas de carne de res marinadas y asadas, acompañadas de papas y salsa de ají.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card menu-card">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../../../../assets/img/30.jpg" alt="Seco de Cordero" class="card-img">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title">Seco de Cordero</h2>
          <p class="card-text">Disfrute de nuestro plato fuerte, el Seco de Cordero, cordero cocido a fuego lento con hierbas y especias, servido con frijoles y arroz.</p>
        </div>
      </div>
    </div>
  </div>

 <br>

  <div class="card menu-card">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../../../../assets/img/31.jpg" alt="Tres Leches" class="card-img">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title">Tres Leches</h2>
          <p class="card-text">Termine su experiencia con nuestro postre, el clásico Tres Leches, pastel esponjoso empapado en tres tipos de leche y cubierto con merengue.</p>
        </div>
      </div>
    </div>
  </div>
</div>

