<div class="menu-container">
  <h1>Menu del Restaurante 3</h1>
  <a routerLink="/ambiente1/menu1"><button type="button" class="btn btn-outline-secondary">Menu2</button></a>
  <a routerLink="/ambiente1/menu2"><button type="button" class="btn btn-outline-secondary">Menu3</button></a>

  <div class="card menu-card">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../../../../assets/img/14.jpg" alt="Yakitori" class="card-img">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title">Yakitori</h2>
          <p class="card-text">Yakitori es un plato japonés de brochetas de pollo a la parrilla, cubiertas con una deliciosa salsa teriyaki.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card menu-card">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../../../../assets/img/15.jpg" alt="Gyudon" class="card-img">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title">Gyudon</h2>
          <p class="card-text">Gyudon es un plato japonés de arroz cubierto con tiras finas de carne de res cocidas en una mezcla de salsa de soja, mirin y azúcar.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card menu-card">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../../../../assets/img/16.jpg" alt="Matcha Tiramisú" class="card-img">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title">Matcha Tiramisú</h2>
          <p class="card-text">Tiramisú con un toque de matcha, un postre exquisito para finalizar tu comida japonesa.</p>
        </div>
      </div>
    </div>
  </div>
</div>



