<div class="menu-container">
  <h1>Menu 1 del Restaurante</h1>
  <a routerLink="/ambiente1/menu2"><button type="button" class="btn btn-outline-secondary">Menu2</button></a>
  <a routerLink="/ambiente1/menu3"><button type="button" class="btn btn-outline-secondary">Menu3</button></a>

  <div class="card menu-card">
    <div class="row no-gutters">
      <div class="col-md-5">
        <img src="../../../../assets/img/17.jpg" alt="Antipasto" class="card-img img-fluid" style="max-width: 70%; height: 70%;">
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h2 class="card-title">Antipasto</h2>
          <p class="card-text">Comience su experiencia con nuestro Antipasto, una selección de deliciosos quesos, embutidos y aceitunas italianas.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card menu-card">
    <div class="row no-gutters">
      <div class="col-md-5">
        <img src="../../../../assets/img/18.jpg" alt="Lasagna" class="card-img img-fluid " style="max-width: 70%; height: 70%;">
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h2 class="card-title">Lasagna</h2>
          <p class="card-text">Disfrute de nuestro exquisito plato fuerte, la Lasagna, con capas de pasta, carne y queso gratinado al horno.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card menu-card">
    <div class="row no-gutters">
      <div class="col-md-5">
        <img src="../../../../assets/img/19.jpg" alt="Tiramisú" class="card-img img-fluid" style="max-width: 70%; height: 70%;">
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h2 class="card-title">Tiramisú</h2>
          <p class="card-text">Termine su experiencia con nuestro Tiramisú, un postre italiano clásico con capas de café, mascarpone y cacao.</p>
          
        </div>
      </div>
    </div>

  </div>
 
</div>

