
<div class="menu-container">
 <h1>Menu 2 del Restaurante</h1>
 <a routerLink="/ambiente2/menu1"><button type="button" class="btn btn-outline-secondary">Menu 1</button></a>
 <a routerLink="/ambiente2/menu3"><button type="button" class="btn btn-outline-secondary">Menu 3</button></a>
  <div class="card menu-card">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../../../../assets/img/20.jpg" alt="Bruschetta" class="card-img">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title">Bruschetta</h2>
          <p class="card-text">Comience su experiencia con nuestra Bruschetta, pan tostado frotado con ajo y cubierto con tomates frescos y albahaca.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card menu-card">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../../../../assets/img/21.jpg" alt="Risotto" class="card-img">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title">Risotto</h2>
          <p class="card-text">Disfrute de nuestro exquisito plato fuerte, el Risotto, arroz cremoso cocido a la perfección con ingredientes como champiñones y parmesano.</p>
        </div>
      </div>
    </div>
  </div>

 <br>


  <div class="card menu-card">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../../../../assets/img/22.jpg" alt="Panna Cotta" class="card-img">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title">Panna Cotta</h2>
          <p class="card-text">Termine su experiencia con nuestra Panna Cotta, un postre italiano sedoso y delicado con un toque de frutas frescas.</p>
         
        </div>
      </div>
    </div>
  </div>
</div>
